html,
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:hover {
    color: deepskyblue;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-auto {
    flex: auto;
    overflow: hidden;
}

.wci-loading {
    pointer-events: none;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
}

@keyframes wci-loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.wci-loading-icon {
    width: 35px;
    height: 35px;
    color: #0077cf;
    animation: 0.382s wci-loading-animation linear infinite;
}

.wci-loading-label {
    margin-left: 10px;
    font-size: 14px;
    width: 70px;
    white-space: nowrap;
}

.tg-turbogrid .tg-scrollbar .tg-scrollbar-track,
.tg-turbogrid .tg-scrollbar .tg-scrollbar-thumb {
    border-radius: 5px;
}

.wci-menu {
    width: 200px;
    background-color: #222;
    color: #eee;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wci-menu a:visited,
.wci-menu a:link {
    color: #eee;
    text-decoration: none;
}

.wci-menu a:hover {
    color: #fff;
}

.wci-menu-header {
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #111;
    display: flex;
    flex-direction: row;
    background-color: #000;
}

.wci-menu-header svg {
    display: block;
}

.wci-menu-header .wci {
    flex: auto;
    font-size: 22px;
}

.wci-menu-header .github {
    margin: 5px 0;
    width: 25px;
    height: 25px;
}

.wci-menu-grid .tg-row .tg-tree-name {
    cursor: pointer;
}

.wci-menu-grid .tg-pane .tg-scrollbar-thumb {
    background-color: #666;
}

.wci-menu-grid .tg-pane .tg-scrollbar-thumb:hover {
    background-color: #999;
}

.wci-menu-footer {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wci-menu-footer a:visited,
.wci-menu-footer a:link {
    color: #999;
}

.wci-menu-footer a:hover {
    color: #fff;
}

.wci-main {
    width: calc(100% - 200px);
    height: 100%;
    box-sizing: border-box;
}

.wci-main a:visited,
.wci-main a:link {
    color: #333;
}

.wci-header {
    position: relative;
}

.wci-toolbar {
    text-align: center;
    font-size: 16px;
    padding: 0 20px 0 15px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
}

.wci-toolbar select {
    margin-right: 5px;
}

.wci-title {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}

.wci-link {
    margin-bottom: 15px;
    text-align: center;
}

.wci-link a:link,
.wci-link a:visited {
    margin-top: 8px;
    font-size: 16px;
    color: #666;
}

.wci-link a:hover {
    color: #0077cf;
}

.wci-stats {
    text-align: center;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
}

.wci-stats a:link,
.wci-stats a:visited {
    font-size: 16px;
}

.wci-stats a:hover {
    color: #0077cf;
}

.wci-view {
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.wci-package {
    display: none;
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.wci-package::after {
    content: "";
    display: block;
    clear: both;
}

.wci-icon-item {
    float: left;
    margin: 4px;
    border: 1px solid transparent;
    cursor: pointer;
}

.wci-icon-item:hover {
    border: 1px solid #ccc;
}

.wci-icon-item-label {
    margin-top: 5px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.wci-finder {
    height: 100%;
    display: none;
}

.wci-filter {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    max-width: 600px;
}

.wci-searcher {
    width: 100%;
    position: relative;
}

.wci-keywords {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px 45px 10px 15px;
    background-color: #eee;
    height: 32px;
    line-height: 32px;
    outline: none;
    font-size: 18px;
    box-sizing: content-box;
    display: block;
    width: calc(100% - 60px);
}

.wci-keywords:focus {
    border: 2px solid lightblue;
}

.wci-searcher-icon {
    position: absolute;
    right: 10px;
    top: 13px;
    opacity: 0.3;
}

.wci-popular {
    margin: 10px 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wci-popular span {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.wci-popular span:hover {
    color: deepskyblue;
}

.wci-popular i {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20pointer-events%3D%22none%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22currentColor%22%3E%3Cpath%20d%3D%22M10%2011H7.101l.001-.009a4.956%204.956%200%200%201%20.752-1.787%205.054%205.054%200%200%201%202.2-1.811c.302-.128.617-.226.938-.291a5.078%205.078%200%200%201%202.018%200%204.978%204.978%200%200%201%202.525%201.361l1.416-1.412a7.036%207.036%200%200%200-2.224-1.501%206.921%206.921%200%200%200-1.315-.408%207.079%207.079%200%200%200-2.819%200%206.94%206.94%200%200%200-1.316.409%207.04%207.04%200%200%200-3.08%202.534%206.978%206.978%200%200%200-1.054%202.505c-.028.135-.043.273-.063.41H2l4%204%204-4zm4%202h2.899l-.001.008a4.976%204.976%200%200%201-2.103%203.138%204.943%204.943%200%200%201-1.787.752%205.073%205.073%200%200%201-2.017%200%204.956%204.956%200%200%201-1.787-.752%205.072%205.072%200%200%201-.74-.61L7.05%2016.95a7.032%207.032%200%200%200%202.225%201.5c.424.18.867.317%201.315.408a7.07%207.07%200%200%200%202.818%200%207.031%207.031%200%200%200%204.395-2.945%206.974%206.974%200%200%200%201.053-2.503c.027-.135.043-.273.063-.41H22l-4-4-4%204z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
}

.wci-popular i:hover {
    opacity: 1;
}

.wci-grid {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wci-grid .tg-turbogrid .tg-scrollbar-track {
    background-color: #f2f2f2;
}

.wci-grid .tg-turbogrid .tg-cell.wci-icon {
    padding: 4px;
    border-left: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea {
    padding: 3px 5px;
}

.wci-grid .tg-turbogrid .tg-cell.wci-textarea textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-family: monaco, sans-serif;
}

.wci-grid .wci-icon-action {
    cursor: pointer;
    opacity: 0.6;
}

.wci-grid .wci-icon-action:hover {
    opacity: 1;
}

.wci-grid .tg-turbogrid .tg-cell .wci-icon-action {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wci-grid .wci-not-found {
    font-size: 20px;
}
